#gameContainer {
    position: relative;
    overflow: hidden;
    width: 1000px; /* change according to your game */
    height: 700px; /* change according to your game */
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
}

body{
    color: white;
}


#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px; 
    height: 1000px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

#shop{
    width: 500px;
    height: 500px;
    background-color: black;
    display: none;
    position: absolute;
    left: 250px;
    top: 50px;
    z-index: 1;
    
}

#resourceDisplayDiv{
    width: 200px;
    height: 200px;
    background-color: rgb(48, 4, 4);
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
    
}
#upgradeDisplayDiv{
    width: 200px;
    height: 200px;
    background-color: rgb(7, 116, 13);
    display: block;
    position: absolute;
    left: 50px;
    top: 250px;
    z-index: 1;
    
}
#itemDisplayDiv{
    width: 200px;
    height: 200px;
    background-color: rgb(114, 14, 109);
    display: block;
    position: absolute;
    left: 250px;
    top: 50px;
    z-index: 1;
    
}
#buildDisplayDiv{
    width: 200px;
    height: 200px;
    background-color: rgb(14, 89, 114);
    display: block;
    position: absolute;
    left: 250px;
    top: 250px;
    z-index: 1;
    
}
#playerStatsDiv{
    width: 400px;
    height: 20px;
    background-color: rgb(14, 89, 114);
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    
}
#startScreen{

    display: block;

    
}
#winScreen{

    display: none;

    
}
#gameOverScreen{

    display: none;

    
}

.screen{
    background-color: rgb(70, 70, 45);
    width: 1000px; /* change according to your game */
    height: 700px; /* change according to your game */

    position: absolute;
    z-index: 2;
}

p{
    margin: 0
}


/* add styles for other HTML elements of your game */