#gameContainer {
    position: relative;
    overflow: hidden;
    width: 1000px;
    /* change according to your game */
    height: 700px;
    /* change according to your game */
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
}

body {
    color: white;
}


#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px;
    height: 3000px;
    background-image: url("../images/background1.png");
    /* background-size: cover; */
    background-repeat: repeat;

}

/* #underground {
    position: absolute;
    left: 0;
    top: 325px;
    width: 1000px; 
    height: 325px;
    background-image: url("../images/background.png");
    /* background-size: cover; 
    background-repeat: no-repeat;

} */

#shop {
    width: 500px;
    height: 500px;
    background-color: black;
    display: none;
    position: absolute;
    left: 250px;
    top: 50px;
    z-index: 1;

}


/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 24px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 200px;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}


#DrillenDigmanDrawn {
    width: 250px;
    height: 350px;
    margin-top: 50px;
}

#DrillworldHeading {
    margin-left: 50px;
    margin-top: 50px;
    width: 900px;
    height: 150px;
}

#startButtonSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#startContentSection{
    display: flex;
    justify-content: space-evenly;
}



#enterShopDiv {
    width: 200px;
    height: 50px;
    background-color: rgb(62, 14, 14);
    display: block;
    position: absolute;
    left: 350px;
    top: 50px;
    z-index: 2;

}

#resourceDisplayDiv {
    width: 200px;
    height: 200px;
    background-color: rgb(48, 4, 4);
    display: block;
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;

}

#upgradeDisplayDiv {
    width: 200px;
    height: 200px;
    background-color: rgb(7, 116, 13);
    display: block;
    position: absolute;
    left: 50px;
    top: 250px;
    z-index: 1;

}

#itemDisplayDiv {
    width: 200px;
    height: 200px;
    background-color: rgb(114, 14, 109);
    display: block;
    position: absolute;
    left: 250px;
    top: 50px;
    z-index: 1;

}

#buildDisplayDiv {
    width: 200px;
    height: 200px;
    background-color: rgb(14, 89, 114);
    display: block;
    position: absolute;
    left: 250px;
    top: 250px;
    z-index: 1;

}

#playerStatsDiv {
    width: 400px;
    height: 20px;
    /* background-color: rgb(14, 89, 114); */
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;

}

#startScreen {

    display: block;


}

#instructionsScreen{
    display: none;
  place-items: center;
}

#winScreen {

    display: none;


}

#gameOverScreen {

    display: none;


}

.screen {
    background-color: rgb(70, 70, 45);
    width: 1000px;
    /* change according to your game */
    height: 700px;
    /* change according to your game */

    position: absolute;
    z-index: 2;
}

p {
    margin: 0;
    max-width: 30ch;
    font-size: 1.5em;
}


/* add styles for other HTML elements of your game */